body{
    background: #3e3d3d;
}
h1{
    text-align: center;
}
.wrapper{
    border: 2px solid #000;
    height: 150px;
    overflow: hidden;
}
button, input{   
    display: block;
    margin: 5px;
}
.hidden{
    visibility: hidden;
}


/*######################### 1 ############################## */

.task1 button{
    display: inline-block;
}
/*######################### 3 ############################## */
.task3 {
    display: flex;
    align-items: center;
}
/*######################### 9 ############################## */
.task9 {
    height: auto;
}



